
.idea/

venv/

*.bak
.Rproj.user

code/gpbinary/__pycache__/

literature/blei-VI.pdf

code/testfunctions/__pycache__/

code/fig/choice_ip/

code/test_results/choice_ip/

code/test_results/comparison_20220512/

code/test_results/comparison_20220509/

code/test_results/comparison_20220508/

code/test_results/comparison_20220504/
