.idea/

venv/
*.pyc
*.pclprof
*.dat

build/
dist/
lcgp.egg-info/

src/archive/*

tests/data/*
tests/testfunctions/*

# Documentation and coverage
docs/_build
docs/_static
docs/source
docs/readme.rst
cover
lcgp/archive/

lcgp/debug/

lcgp/reference_code/
lcgp/plot_code/

illustration-examples/output_fig/

reference_code/GPPCA/

lcgp/_version.py
